*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #00459b
}
.contenedor{
    background: #227ae8;
    width: 300px;
    margin: 15px auto;
}
.base{
    width: 100%;
    padding: 20px;
}
.contenedor .base .fondo-pantalla{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    color: #000;
    border: none;
}
.contenedor .base .fondo-pantalla{
    width: 100%;
    font-family: 'Google Sans', sans-serif;
    font-size: 25px;
    text-align: center;
}
.base table tr{
    margin: 10px;
    text-align: center;
    align-content: center;
}

.base table tr td{
    width: 20%;
}
.base table tr td button{
    width: 100%;
    padding: 15px;
    background: #6fa5fc;
    border: none;
    font-family: 'Google Sans', sans-serif;
    font-size: 20px;
    color: #000;
}
.base table tr td button:active{
    background: #5a84c9;
}