.contenedor{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    background: rgba(255, 255, 255, .5)
}
p, h1{
    font-size: 25px;
}
input[type="number"],
input[type="text"]{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    background: rgba(255, 255, 255, .7);
    border: none;
}
input[type="button"]{
    margin-bottom: 20px;
    text-align: center;
    background: #cf5c36b9;
    color: #fff;
    font-size: 30px;
    width: 100%;
    font-size: 16px;
    border: none;
    padding: 20px;
    display: inline-block;
}
